
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem;
}
h1{
    font-family: var(--titles);
}

section{
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

button{
    color:var(--text-color);
    font-size: 23px;
    margin: -0.3rem;
    margin-right: 1rem;
    border: none;
    background-color: white;
    cursor: pointer;
}


.dropdown-menu {
    margin-top: 1rem;
    z-index: 1;
    border: 2px solid var(--text-color);
    border-radius: 4px;
    height: 100%;
}

.dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu ul li {
    padding: 6px 12px;
    cursor: pointer;
}

.dropdown-menu a{
    text-decoration: none;
    color: var(--text-color);
}

.dropdown-menu ul li:hover {
    background-color: var(--text-color);
}

.dropdown-menu ul :hover a{
    color: white;
}