@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&family=Rethink+Sans&display=swap');

:root {
  --background-color: white;
  --text-color: black;
  --sub-title: grey;
  --titles: 'MuseoModerno', sans-serif;
  --text: 'Rethink Sans', sans-serif;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
  font-family: var(--text);
}
